<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="ClubCloud.Service.ClubCloudApplicationService" 
        behaviorConfiguration="ClaimsAware">
        <endpoint
          address=""
          name="http"
          contract="ClubCloud.Service.IClubCloudApplicationService"
          binding="customBinding"
          bindingConfiguration="ClubCloudBinding"
          />
        <endpoint
          address=""
          name="https"
          contract="ClubCloud.Service.IClubCloudApplicationService"
          binding="customBinding"
          bindingConfiguration="ClubCloudSecureBinding"
          />  
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClaimsAware" >
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="65536" maxConcurrentSessions="65536" maxConcurrentInstances="65536" />
          <dataContractSerializer maxItemsInObjectGraph="6000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    <bindings>
      <customBinding>
        <binding
          name="ClubCloudBinding"  maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" >
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true"  />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>          
          <httpTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
        <binding
          name="ClubCloudSecureBinding"  maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" >
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>
          <httpsTransport
          maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
