<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="ClubCloud.Service.ClubCloudApplicationService" 
        behaviorConfiguration="ClaimsAware">
        <endpoint
          address=""
          name="http"
          contract="ClubCloud.Service.IClubCloudApplicationService"
          binding="customBinding"
          bindingConfiguration="ClubCloudBinding"
          />
        <endpoint
          address=""
          name="https"
          contract="ClubCloud.Service.IClubCloudApplicationService"
          binding="customBinding"
          bindingConfiguration="ClubCloudSecureBinding"
          />  
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClaimsAware" >
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="65536" maxConcurrentSessions="65536" maxConcurrentInstances="65536" />
          <dataContractSerializer maxItemsInObjectGraph="6000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    <bindings>
      <customBinding>
        <binding
          name="ClubCloudBinding"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" >
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true"  />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" />
          </textMessageEncoding>          
          <httpTransport
            maxReceivedMessageSize="2147483647"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
        <binding
          name="ClubCloudSecureBinding"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" >
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" />
          </textMessageEncoding>
          <httpsTransport
          maxReceivedMessageSize="2147483647"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  <Zimbra>
    <Configuration>
      <Server Name="ClubCloud" ServerName="mail.clubcloud.nl" UserName="admin@clubcloud.nl" Password="rjm557308453!" IsAdmin="true" Encoded="false" />
      <Binding MaxReceivedMessageSize="2147483647" />
    </Configuration>
  </Zimbra>
  <system.web>
    <membership>
      <providers>
        <add name="ZimbraMembershipProvider" type="ClubCloud.Provider.ZimbraMembershipProvider, ClubCloud.Provider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=144fd205e283172e" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add name="ZimbraRoleProvider" type="ClubCloud.Provider.ZimbraRoleProvider, ClubCloud.Provider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=144fd205e283172e" />
      </providers>
    </roleManager>
  </system.web>  
  -->
</configuration>
