<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="$SharePoint.Type.e00d1eca-a977-4ba9-a357-5fd35dfc0f63.FullName$" 
        behaviorConfiguration="ClaimsAware">
        <endpoint
          address=""
          name="http"
          contract="$SharePoint.Type.23c6e4c4-d8d7-4bef-8d11-420c88bbefc2.FullName$"
          binding="customBinding"
          bindingConfiguration="CustomHttpBinding"
          />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClaimsAware" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="65536" maxConcurrentSessions="65536" maxConcurrentInstances="65536" />
          <dataContractSerializer maxItemsInObjectGraph="6000000"/>          
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    <bindings>
      <customBinding>
        <binding
          name="CustomHttpBinding" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <!--<binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>-->
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>          
          <httpTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
