<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent" >
      <add wildcard="/" destination="/_zimbra/default.aspx?ReturnUrl=/profiel.aspx"  />
    </httpRedirect>    
  </system.webServer>  
</configuration>