<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="http" 
        address="" 
        binding="customBinding" 
        bindingConfiguration="ClubCloudBinding"
        contract="ClubCloud.Service.IClubCloudApplicationService" />
      <endpoint 
        name="https"
        address="" 
        binding="customBinding" 
        bindingConfiguration="ClubCloudSecureBinding"
        contract="ClubCloud.Service.IClubCloudWCFService" />
      <!--
      <endpoint
        name="http"
        contract="ClubCloud.Service.IClubCloudWCFService"
        binding="customBinding"
        bindingConfiguration="CustomHttpBinding" />-->
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomEndpointBehavior" >
          <dataContractSerializer maxItemsInObjectGraph="6000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>    
    <bindings>
      <customBinding>
        <binding name="ClubCloudBinding"
            maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647"
            sendTimeout="00:02:00">
        <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>          
          <httpTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
        <binding name="ClubCloudSecureBinding"
            maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647"
            sendTimeout="00:02:00">
        <security
            authenticationMode="IssuedTokenOverTransport" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>
          <httpsTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"
            transferMode="Streamed" />
        </binding>
        <!--
        <binding
          name="CustomHttpBinding" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" sendTimeout="0:10:00">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <textMessageEncoding>
            <readerQuotas
              maxStringContentLength="1073741824"
              maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
          </textMessageEncoding>
          <httpTransport
            maxBufferPoolSize="1073741824"
            maxReceivedMessageSize="1073741824"
            transferMode="Streamed"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false"/>
        </binding>
        -->
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10000" />
    </connectionManagement>
  </system.net>
</configuration>
