<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
    </compilation>
    <httpRuntime targetFramework="4.5.2" allowDynamicModuleRegistration="true" />
    <webServices>
      <protocols>
        <remove name="HttpGet" />
        <remove name="HttpPost" />
        <remove name="HttpPostLocalhost" />
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs>
          <remove verb="POST" />
          <remove verb="GET" />
          <remove verb="HEAD" />
          <add verb="POST" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
          <add name="Access-Control-Allow-Headers" value="origin, content-type, accept" />
          <add name="Access-Control-Expose-Headers" value="Set-Cookie"/>
          <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
  </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ClubCloudBinding" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType ="UserName" />
            <transport clientCredentialType="InheritedFromHost" />            
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ClubCloudBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType ="UserName" />
            <transport clientCredentialType="InheritedFromHost" />
          </security>
        </binding>
      </wsHttpBinding>
      <mexHttpBinding>
        <binding name="ClubCloudBinding" />
      </mexHttpBinding>
      <mexHttpsBinding>
        <binding name="ClubCloudBinding" />
        </mexHttpsBinding>
      <webHttpBinding>
        <binding name="ClubCloudBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="InheritedFromHost" />
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpsBinding>
        <binding name="ClubCloudBinding" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType ="UserName" />
            <transport clientCredentialType="InheritedFromHost" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClubCloudEndPoint">
          <!-- <enableWebScript />-->
          <dataContractSerializer ignoreExtensionDataObject="false" />
          <endpointDiscovery enabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="showFaults">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" />
        </behavior>
        <behavior name="ClubCloudMobiel">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ClubCloudMobiel" name="ClubCloud.Service.ClubCloudMobielService">
        <clear/>
        <endpoint address="script"  behaviorConfiguration="ClubCloudEndPoint"
          binding="webHttpBinding" bindingConfiguration="ClubCloudBinding"
          name="ClubCloudScript" contract="ClubCloud.Service.IClubCloudMobielService" />
      </service>
    </services>
  </system.serviceModel>
  <!--
  <runtime>
    <assemblyBinding>
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
</configuration>