<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BeheerContainer" connectionString="metadata=res://*/BeheerClubCloud.csdl|res://*/BeheerClubCloud.ssdl|res://*/BeheerClubCloud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVELOPMENT\SHAREPOINT;initial catalog=ClubCloudService_Model_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BoekhoudingContainer" connectionString="metadata=res://*/BoekhoudingClubCloud.csdl|res://*/BoekhoudingClubCloud.ssdl|res://*/BoekhoudingClubCloud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVELOPMENT\SHAREPOINT;initial catalog=ClubCloudService_Boekhouding_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SignalRContainer" connectionString="metadata=res://*/SignalRClubCloud.csdl|res://*/SignalRClubCloud.ssdl|res://*/SignalRClubCloud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVELOPMENT\SHAREPOINT;initial catalog=ClubCloudService_SignalR_Model;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
