<dom-module id="clubcloud-innerHTML">
    <script>
        Polymer({
            is: "clubcloud-innerHTML",
            // add properties and methods on the element's prototype
            properties: {
                // declare properties for the element's public API
                html: {
                    type: String,
                    observer: '_htmlChanged'
                }
            },
            _htmlChanged: function (newValue, oldValue) {
                this.innerHTML = this.html;
            }
        });
    </script>
</dom-module>
